[Unit]
Description=Script service 
After=network.target network-online.target 
Wants=network-online.target 
[Service] 
ExecStart=/home/vagrant/intento2.sh
[Install]
WantedBy=multi-user.target
